
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.wishlist{
  display: flex;
  align-items: center;
  gap: 10px;
}
.wishlist-icon{
  font-size: 18px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background: #ddd;
}
.card img{
  width: 100%;
}

#whishList{
  font-size: 20px;
  outline: none;
  box-shadow: none;
  border: none;
}
.read-the-docs {
  color: #888;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  gap: 3rem;  
}

.logo img {
  height: 40px; /* Adjust logo size */
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #333; /* Adjust link color */
  font-size: 16px;
}

.nav-links a:hover {
  color: #007bff; /* Hover color */
}

.productListRow{
  display: flex;
  align-items: center;
  gap: 10px;
}